 body { background-image: linear-gradient(45deg, red, darkblue);
         font-family: arial, sans-serif;
}

#center {
  color: white;
}


#inicio {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
