  body { background-color:  navy;
}

#center {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 28px;
}


#inicio {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

#asd {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  
  
  

  
}
