  body { background: linear-gradient(90deg, black, navy, black);
}

#center {
  text-align: center;
  color: red;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 10px;
}
