body{
  background-color: rgb(180, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, red, black);
}

h1{ 
  font-family: 'Brush Script MT', cursive;
  margin-left: 100px;
  color: white;
}

.center {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  color: white;
}

.center1 {
  font-family: monaco,Consolas,Lucida Console,monospace;
  color: white;
  margin-left: 100px;
}
